body {
    background-color: #491ef2;
    color: white;
    font: arial;
}

.container {
    display: flex;
    align-items: center;
}

a {
    color: white;
}

a:hover {
    color: salmon;
}

.try-Button {
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    background-image: linear-gradient(to right, orange, darkOrange);
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.section-1 {
    display: flex;
	justify-content: center;
    align-items: center;
	padding-top: 100px;
    margin: 20px 200px 0 200px;
}

.functional {
    flex: 0 0 450px;
    margin-top: 45px;
    z-index: 1;
    font-size: 20px;
}

.picture-1 {
   float: right;
   flex: 0 1 900px;
	z-index: 0;
    margin-right: 80px;
}

.text {
    overflow: hidden;
    

}

h1 {
 font-size: 30px;
 margin-top: 0;
 }

h2 {
 font-size: 20px;
 margin-bottom: 0;
 font-weight: normal;
}

.clout {
    padding: 2px 15px 2px 15px;
}


.free-Sessions {
    border-radius: 30px;
    background-image: linear-gradient(to right, orange, darkOrange);
    padding: 10px 100px 10px 100px;
    margin: 10px;
    color: white;
    font-size: 14px;
}

.see-Science {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    color: white;
    font-size: 20px;
}

.section-2 {
    display: flex;
	justify-content: center;
    align-items: center;
	padding-top: 100px;

}

.section2pics {
    display: flex;
    flex: 0 0 450px;
    margin-top: 45px;
    z-index: 1;
    
}

.brain-waves {
    margin-right: 300px;
}

.thermo {
    margin-left: 10px;
}

.section2 {
    display: flex;
    flex-direction: column;
    width: 10px;
    height: 10px;
}

.section2titles {
    display: flex;
    
    text-align: left;
}

.titles {
    display: flex;
    
    
}
.patented-tech {
    margin-left: 350px;
   margin-right: 100px;
    
}

.tests {
   
   padding-left: 300px;
}

.section2paragraphs {
    display: flex;
   
    text-align: left;
}

.paragraphs {
    display: flex;
    
}

.p1 {
   margin-left: 350px;
   text-align: left;

}

.p2 {
    margin-right: 200px;
}