body {
    background-color: #491ef2;
    color: white;
    font: arial;
}

.container {
    display: flex;
    align-items: center;
}

a {
    color: white;
}

a:hover {
    color: salmon;
}

.try-Button {
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    background-image: linear-gradient(to right, orange, darkOrange);
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.section-1 {
    display: flex;
	justify-content: center;
    align-items: center;
	padding-top: 100px;

}

.functional {
    flex: 0 0 450px;
    margin-top: 45px;
    z-index: 1;
}

.picture-1 {
   float: right;
   height: 100px;
}

.text {
    overflow: hidden;
    font-size: small;

}

h1 {
 font-size: 30px;
 margin-top: 0;
 }

h2 {
 font-size: 20px;
 margin-bottom: 0;
 font-weight: normal;
}


.free-Sessions {
    border-radius: 30px;
    background-image: linear-gradient(to right, orange, darkOrange);
    padding: 10px 35px 10px 35px;
    margin: 10px;
    color: white;
    font-size: 12px;
}

.see-Science {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    color: lightgray;
}

.section-2 {
    display: flex;
	justify-content: center;
    align-items: center;
	padding-top: 100px;

}

.section2pics {
    display: flex;
    flex: 0 0 450px;
    margin-top: 45px;
    z-index: 1;
    
}

.brain-waves {
    margin-right: 200px;
}

.thermo {
    margin-left: 10px;
}

.section2titles {
    display: flex;
   justify-content: space-evenly;
}

.titles {
    display: flex;
}

.patented-tech {
    margin-right: 300px;
}

.section2paragraphs {
    
}

.paragraphs {

}

.p1 {

}

.p2 {

}